/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
    background:#EDEDED; #FCFCFC;#FAFAFA;#ECF1EF; 50cde9; 33ccff; FFFFFE;fff; ;lightslategray;
    font-family:Arial;
    font-size:0.8em;
	
	
	margin:0px;
	line-height: 1;
	width:auto; 
	min-height:100%;
}

ol, ul {
	list-style: none;
}
header {
	/*background:url(../images/menu-bg.png) repeat-x 0 0;*/
	width:auto;
	padding-top:0px;
	margin-top:0px;
}
/* Resets */
ul {
    padding:0;
    margin:0 0 0px 0;
    list-style:none;
	
}
h1{
	padding:0;
    margin:0 0 20px 0;
    font-weight:normal;
	
	border-bottom:2px solid #CCCCCC;
	width:780px;

}


h2 {
    padding:0;
    margin:0 0 20px 0;
    font-weight:normal;
	
	
}

h3{
	font-size:1em;
	text-decoration:none;
	color:#ffffff;
}

h4{
	padding:0px;
	margin:0px;

}

h5 {

	
	padding-top:30px;
	
}

h5 a{
	font-size:2em;
	text-decoration:none;
	color:#0066cc;
}

h6{
	
	
	text-decoration:none;
	margin-top:10px;
	margin-left:2px;
	
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:20px;
	


}
h7{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:24px;
	
	
	



}

h8{
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding-left:2px;

	
	
	

}

p {
    padding:20px;
    margin:10px 0 20px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	word-spacing:normal;


	text-align: justify;
	
	
	
	
}

a{
	color:#000000;
	


}

ul li a{
color:#000000;

}
a:link{
	color:# 06F;

}

a:visited {
    text-decoration:none;
	
    
}

a:hover {
    text-decoration:none;
	
}




ul li {
    padding:5px 0;
	
	

	
}


textarea{
	width:auto;
	height:auto;
	


}
.maintextarea {
	width:700px;
	background: #fff;
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#ddd));
	background: -webkit-linear-gradient(top,#fff 0,#ddd 100%);
	background: -moz-linear-gradient(top,#fff 0,#ddd 100%);
	background: -ms-linear-gradient(top,#fff 0,#ddd 100%);
	background: -o-linear-gradient(top,#fff 0,#ddd 100%);
	background: linear-gradient(top,#fff 0,#ddd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dddddd',GradientType=0);
	border-left: solid 1px #eee;
	border-right: solid 1px #eee;
	border-bottom: solid 1px #ccc;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
	box-shadow: 0 1px 0 rgba(0,0,0,.1);
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

}
/* Headers */
h1 {
    font-size:1.8em;
}
h2 {
    font-size:1.4em;
	text-decoration:none;
	color:#000000;
}
.logo {
	margin-top:0px;
   
    width:72px;
	padding-top:0px;
    padding-left:100px;
	
	
	
}
.separator1{
	margin-left:560px;
	margin-top:-33px;
	
}

.greet {
	padding-left:620px;
	margin-top:-32px;
	text-decoration:none;
	margin-right:0px;
	margin-left:-25px;
	

}

.active{
	background-color:#00ccff;



}


/* Containers */

#container {
	width:auto;
	min-height:700px;
	max-height:auto;
 
    	padding:20px;
    	
    	border-radius:5px 5px 5px 5px;
	background:#E0E0E0;#F2F2F2;#C4C4C4;
	margin-left:20px;
	margin-right:20px;
	margin-top:100px;
	margin-bottom:100px;
	
	
	
	
 
	
}
footer {
	width: auto;
	display: block;

    padding:30px 0; 

	position:relative; 
	color:#7f8284;
 
	margin-top:0px;
	margin-left:0px;

}





/*--*/
#footer-wrap { background:#32393b;  margin-top:0px; bottom:0; left:0; width:100%; z-index:20;
}

@media print{
	body {width:100%; position:relative; height:auto; background:none;}
	#footer-wrap {display:none;}
 }
	  
@media screen and (max-width: 735px){
	#footer-wrap { position: relative; margin-bottom:0px;}
	#footercontent{height:80px; text-align: left;
}
}









#footerContainer {
	margin-top: 0px;
	position: relative;
	width:auto;
	margin-bottom:0px;
	
	

	/*background:#414042;*/
	
}

#footercontent {
	clear:both;
	margin:0px auto;
	height:120px;
	font-size:12px;
	width:auto;
	color:#dddddd;
	position:relative;
	overflow:hidden;
	line-height:18px;
	/*background:#414042;8*/
	
}
#footercontent a {
	color:#ddd;
	padding:5px;
	text-decoration:none;
}
#footercontent a:hover {
	color:#fff;
}
#footerColumn1 {
	position:absolute;
	left:130px;
	top:10px;
	width:150px;
}
#footerColumn2 {
	position:absolute;
	left:327px;
	top:10px;
	width:150px;
}
#footerColumn3 {
	position:absolute;
	left:513px;
	top:10px;
	width:150px;
}
#footerColumn4 {
	
	
	top:20px;
	width:400px;
	float:right;
}
.footerRights{
	width:300px;
	


}




.widget {
    margin-bottom:20px;
}
.widget h2 {
    margin:0 0  10px 0;
    padding:0 5px;
    font-weight:normal;
    border-bottom:1px solid #ddd;
}
.widget .inner {
    margin:0px;
}

.widget .inner .bt{
	width: 100px;
	height:35px;
	margin-bottom:10px;
	font-family: arial, sans-serif;
	text-decoration:none;
	padding:6px 21px;
	font-size:12px;
	font-weight:bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	cursor:pointer;
	overflow:visible;

}

a.widget .inner Bt:hover {
	text-decoration:none;
}

.widget .inner .bt:hover{
	border: 1px solid #1ab4df;
	background-color: #1ab4df;
	background-color: #1ab4df;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab4df), to(#3ec8ed));
	background-image: -webkit-linear-gradient(top, #1ab4df, #3ec8ed);
	background-image:    -moz-linear-gradient(top, #1ab4df, #3ec8ed);
	background-image:     -ms-linear-gradient(top, #1ab4df, #3ec8ed);
	background-image:      -o-linear-gradient(top, #1ab4df, #3ec8ed);
	background-image:         linear-gradient(to bottom, #1ab4df, #3ec8ed);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#1ab4df, endColorStr=#3ec8ed);

}

.widget .inner .bt{
	color:#fff;
	font-size: 16px;
	text-align:center;
    border:1px solid #34c2ea;
    background-color: #3ec8ed;
    background-color: #3ec8ed;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#66d5f1), to(#3ec8ed));
	background-image: -webkit-linear-gradient(top, #66d5f1, #3ec8ed);
	background-image:    -moz-linear-gradient(top, #66d5f1, #3ec8ed);
	background-image:     -ms-linear-gradient(top, #66d5f1, #3ec8ed);
	background-image:      -o-linear-gradient(top, #66d5f1, #3ec8ed);
	background-image:         linear-gradient(to bottom, #66d5f1, #3ec8ed);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#66d5f1, endColorStr=#3ec8ed);
	}
	
	
/* setting bt */
.setting  .bt{
	width: 100px;
	height:35px;
	margin-bottom:10px;
	font-family: arial, sans-serif;
	text-decoration:none;
	padding:6px 21px;
	font-size:12px;
	font-weight:bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	cursor:pointer;
	overflow:visible;

}


a.setting Bt:hover {
	text-decoration:none;
}

.setting  .bt:hover{
	border: 1px solid #1ab4df;
	background-color: #1ab4df;
	background-color: #1ab4df;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab4df), to(#3ec8ed));
	background-image: -webkit-linear-gradient(top, #1ab4df, #3ec8ed);
	background-image:    -moz-linear-gradient(top, #1ab4df, #3ec8ed);
	background-image:     -ms-linear-gradient(top, #1ab4df, #3ec8ed);
	background-image:      -o-linear-gradient(top, #1ab4df, #3ec8ed);
	background-image:         linear-gradient(to bottom, #1ab4df, #3ec8ed);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#1ab4df, endColorStr=#3ec8ed);

}

.setting  .bt{
	color:#fff;
	font-size: 16px;
	text-align:center;
    border:1px solid #34c2ea;
    background-color: #3ec8ed;
    background-color: #3ec8ed;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#66d5f1), to(#3ec8ed));
	background-image: -webkit-linear-gradient(top, #66d5f1, #3ec8ed);
	background-image:    -moz-linear-gradient(top, #66d5f1, #3ec8ed);
	background-image:     -ms-linear-gradient(top, #66d5f1, #3ec8ed);
	background-image:      -o-linear-gradient(top, #66d5f1, #3ec8ed);
	background-image:         linear-gradient(to bottom, #66d5f1, #3ec8ed);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#66d5f1, endColorStr=#3ec8ed);
}

/* change pass*/

.setting  .bts{
	width: 200px;
	height:35px;
	margin-bottom:10px;
	font-family: arial, sans-serif;
	text-decoration:none;
	padding:6px 21px;
	font-size:12px;
	font-weight:bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	cursor:pointer;
	overflow:visible;

}


a.setting Bts:hover {
	text-decoration:none;
}

.setting  .bts:hover{
	border: 1px solid #1ab4df;
	background-color: #1ab4df;
	background-color: #1ab4df;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab4df), to(#3ec8ed));
	background-image: -webkit-linear-gradient(top, #1ab4df, #3ec8ed);
	background-image:    -moz-linear-gradient(top, #1ab4df, #3ec8ed);
	background-image:     -ms-linear-gradient(top, #1ab4df, #3ec8ed);
	background-image:      -o-linear-gradient(top, #1ab4df, #3ec8ed);
	background-image:         linear-gradient(to bottom, #1ab4df, #3ec8ed);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#1ab4df, endColorStr=#3ec8ed);

}

.setting  .bts{
	color:#fff;
	font-size: 16px;
	text-align:center;
    border:1px solid #34c2ea;
    background-color: #3ec8ed;
    background-color: #3ec8ed;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#66d5f1), to(#3ec8ed));
	background-image: -webkit-linear-gradient(top, #66d5f1, #3ec8ed);
	background-image:    -moz-linear-gradient(top, #66d5f1, #3ec8ed);
	background-image:     -ms-linear-gradient(top, #66d5f1, #3ec8ed);
	background-image:      -o-linear-gradient(top, #66d5f1, #3ec8ed);
	background-image:         linear-gradient(to bottom, #66d5f1, #3ec8ed);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#66d5f1, endColorStr=#3ec8ed);
}

/* Green Button */
/*.widget .inner .bt {
	font-decoration:none;
	border:1px solid #89B259;
	background-color: #94C459;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#B0D760), to(#94C459));
	background-image: -webkit-linear-gradient(top, #B0D760, #94C459);
	background-image:    -moz-linear-gradient(top, #B0D760, #94C459);
	background-image:     -ms-linear-gradient(top, #B0D760, #94C459);
	background-image:      -o-linear-gradient(top, #B0D760, #94C459);
	background-image:         linear-gradient(to bottom, #B0D760, #94C459);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#B0D760, endColorStr=#94C459);
		cursor:defaul
}*/


/* Navigation */
nav {
	width: 100%;
    float:left;
	padding-top:0px;
	margin-left:0px;
	margin-top:-76px;
	/*background:url(../images/menu-bg.png) repeat-x 0 0;*/
	background-color:#000;
	
	padding-bottom:0px;
	height:47px;
	
}

nav ul {
	width: auto;

	height:47px;


	
   margin-left:0px;
   margin-top:18px;
   padding-left:200px;

   

   
   
   
	
}
nav ul li {

	width: auto;
	
   display:inline;
   margin-right:10px;
   padding-top:17px;
   padding-bottom:15px;
   padding-right:5px;
   padding-left:5px;
   
 
   

	
}
nav ul li a {
	margin-top:100px;
	
    text-decoration:none;
	display:inline;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	
	
	
	

	
	
	
	
}
nav ul li:hover {
	background-color:#00ccff;
	
	
	
	
}


nav ul li a .current  {
	
    font-weight: bold;
	
	
	
	
}




nav ul li a.last {
    border-right:0;
}




/* Aside */
aside {
    width:auto;
	height:500px;
    float:right;
    border-left:1px dashed #aaa;
	padding-left:15px;
   
	
}
.profile{
	background:#f9f9f9;
	border:1px dashed #ccc;
	padding:5px;
}

.profile img{
	width:100%;

}
	
/* Login */
#login li.link {
    margin-top:5px;
}
/* Footer */
/*footer {
    border-top:1px dashed #ddd;
    color:#999;
}*/
/* Misc */
.clear {
    clear:both;
}
ul li{
	list-style:none;
	
}

.Bt{
	width: 1000px;
	height:35px;
	margin-bottom:10px;
}

register{

	


}



