@charset "utf-8";
/* CSS Document */


body{
width:100%;
height:1000px;
margin:0px;
font-family: "Helvetica Neue",Arial,sans-serif;
}
label, input, textarea, select, button {
font-family: "Helvetica Neue",Arial,sans-serif;
}


.front-panel {

height: 330px;
width: 840px;
margin: 200px 0 0 -420px;
}

.front-panel {
position: absolute;
left: 58%;
width: 840px;
}


.front-welcome-text{
	padding-left:40px;

}




.front-container-full-signup .front-welcome {
background: 0;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}



.front-welcome, .front-signin, .front-signup {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}


.front-welcome {
position: absolute;
top: 90px;
left: -300px;
display: block;
width: 620px;
height: 142px;
background: #63B8FF url(#) no-repeat left top;
border: 0;
-webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2),0 0 125px rgba(255,255,255,.35);
-moz-box-shadow: 0 1px 0 rgba(0,0,0,.2),0 0 125px rgba(255,255,255,.35);
box-shadow: 0 1px 0 rgba(0,0,0,.2),0 0 125px rgba(255,255,255,.35);
}




.front-panel-signup {
position: absolute;
top: 180px;
left: 536px;
width: 300px;
height: 206px;
}



.front-signin {
position: absolute;
top:-80px;
left: 536px;
width: 300px;
height: 108px;
}

.forgot  {
	text-decoration:none;
	color:#39F;
	font-weight:bold;
	font-size:14px;
	
	
}

.hzBtn{
	width: 100px;
	height:35px;
	margin-bottom:10px;
}

.Links{
	color:#39F;
	text-decoration:none;
	font-weight:bold;
}

.separator{
	margin-left:10px;
	margin-right:10px;
}

.remember{
	font-weight:bold;
	font-size:14px;
	margin-bottom:20px;
	margin-top:5px;
	margin-left:-4px;
	

}

.mainWrap{
	position: relative;

	
}


.FormTitle {
	font-size: 25px;
	font-weight: bold;
	text-align:left;
	width:100%;
	color:#50cde9;
}
	

.FormSubtitle {
	margin: 8px 0px 0px 2px; 
	font-size: 14px; 
	color: #333; #888888;
	margin-bottom:5px;
}

#tos {
	font-size:12px; text-align: left;margin: 12px 0 16px 0;
}

/* signup form */

#navHeader {
	width:100%;
	height:50px;
	background: #414042;
	margin-left:0px;
	margin-top:0px;
	padding-right:40px;
	position: absolute;
	z-index:1;
	

	


}

#navHeader #navHome {
		

	position: absolute;
	padding-left:60px;
}

#navHeader.signup #navHome a {
	margin-top: 3px;
	margin-left: 0px;
	float: left;
	
}
#navHeader.signup a span {
	color: #fafaf6;
}

#navHome a {
    display: block;
	width: 72px;
	height:92px;
	overflow: hidden;
	margin-left:-160px;
	background: url(/images/logo2.png) no-repeat 0 0;
	padding-bottom:0px;

}


.hzBtn {
	font-family: arial, sans-serif;
	text-decoration:none;
	padding:6px 21px;
	font-size:12px;
	font-weight:bold;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
		cursor:pointer;
	overflow:visible;
}

a.hzBtn:hover {
	text-decoration:none;
}
.hzBtn.inverse{
	 background-color: hsl(348, 0%, 9%) !important; 
	 background-repeat: repeat-x;
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f3f3f", endColorstr="#161616");
	 background-image: -khtml-gradient(linear, left top, left bottom, from(#3f3f3f), to(#161616)); 
	 background-image: -moz-linear-gradient(top, #3f3f3f, #161616); 
	 background-image: -ms-linear-gradient(top, #3f3f3f, #161616);
	 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3f3f3f), color-stop(100%, #161616)); 
	 background-image: -webkit-linear-gradient(top, #3f3f3f, #161616); 
	 background-image: -o-linear-gradient(top, #3f3f3f, #161616); 
	 background-image: linear-gradient(#3f3f3f, #161616);
	 border-color: #161616 #161616 hsl(348, 0%, 5%); 
	 color: #fff !important;
	 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26); 
	 -webkit-font-smoothing: antialiased;
	 border-width:1px;
	}

.hzBtn.inverse:hover {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#161616", endColorstr="#3f3f3f");
	 background-image: -khtml-gradient(linear, left top, left bottom, from(#161616), to(#3f3f3f)); 
	 background-image: -moz-linear-gradient(top, #161616, #3f3f3f); 
	 background-image: -ms-linear-gradient(top,  #161616, #3f3f3f);
	 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #161616), color-stop(100%, #3f3f3f)); 
	 background-image: -webkit-linear-gradient(top, #161616, #3f3f3f); 
	 background-image: -o-linear-gradient(top,  #161616, #3f3f3f); 
	 background-image: linear-gradient( #161616, #3f3f3f);
	}
.hzBtn.primary,button.stdButton{
	color:#fff;
	font-size: 16px;
	text-align:center;
    border:1px solid #34c2ea;
    background-color: #3ec8ed;
    background-color: #3ec8ed;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#66d5f1), to(#3ec8ed));
	background-image: -webkit-linear-gradient(top, #66d5f1, #3ec8ed);
	background-image:    -moz-linear-gradient(top, #66d5f1, #3ec8ed);
	background-image:     -ms-linear-gradient(top, #66d5f1, #3ec8ed);
	background-image:      -o-linear-gradient(top, #66d5f1, #3ec8ed);
	background-image:         linear-gradient(to bottom, #66d5f1, #3ec8ed);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#66d5f1, endColorStr=#3ec8ed);
	}
/*Button*/
.hzBtn.primary:hover, button.stdButton:hover {
	border: 1px solid #1ab4df;
	background-color: #1ab4df;
	background-color: #1ab4df;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#1ab4df), to(#3ec8ed));
	background-image: -webkit-linear-gradient(top, #1ab4df, #3ec8ed);
	background-image:    -moz-linear-gradient(top, #1ab4df, #3ec8ed);
	background-image:     -ms-linear-gradient(top, #1ab4df, #3ec8ed);
	background-image:      -o-linear-gradient(top, #1ab4df, #3ec8ed);
	background-image:         linear-gradient(to bottom, #1ab4df, #3ec8ed);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#1ab4df, endColorStr=#3ec8ed);
	}

.hzBtn.primary[disabled], .hzBtn.primary[disabled]:hover {
	font-decoration:none;
	border:1px solid #89B259;
		background-color: #94C459;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#B0D760), to(#94C459));
	background-image: -webkit-linear-gradient(top, #B0D760, #94C459);
	background-image:    -moz-linear-gradient(top, #B0D760, #94C459);
	background-image:     -ms-linear-gradient(top, #B0D760, #94C459);
	background-image:      -o-linear-gradient(top, #B0D760, #94C459);
	background-image:         linear-gradient(to bottom, #B0D760, #94C459);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#B0D760, endColorStr=#94C459);
		cursor:default;
}



.signup .authFlowInput, .signin .authFlowInput {
	width: 310px;
}

input.authFlowInput,select.authFlowInput  {
	/* width:278px; */
	font-size:15px;
	font-weight:bold;
	border:1px solid #C0C0BE;
	height: 24px;
	color: #000;
	padding: 4px 4px 4px 4px;
	line-height: 24px;
}

select.authFlowInput{
line-height: 28px;
height: 34px;
}

.FieldInput{
	
	margin-bottom:10px;
	
}


#footerContainer.narrow #footercontent{
	height:80px;
	text-align:center;
	padding-right:40px;
	width:100%;
}

#footerContainer {
	margin-top: 0px;
	position:relative;
	background:#414042;
	margin-left:0px;	
	top:100%;
	width: 100%;
	margin: 0px 0px 0px 0px;
	margin-left:0px;
	position: relative;
	
	
	
}

#footercontent {
	clear:both;
	margin:0px auto;
	height:163px;
	font-size:12px;
	width:1032px;
	color:#dddddd;
	position: relative;
	overflow:hidden;
	line-height:18px;
	background:#414042;
	
}
#footercontent a {
	color:#ddd;
	padding:5px;
	text-decoration:none;
	text-align:center;
}
#footercontent a:hover {
	color:#fff;
}


/*-------placeholder----*/

span.placeholder{
    position:absolute;
    font-size:100%;
    color:#999;
    font-family:sans-serif;
    padding:2px 4px;
    z-index:1;
    cursor:text;
}

span.placeholder-hide-except-screenreader {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

span.placeholder-hide{
	display:none;
}

/* overwrite for the HTML5 Boilerplate way to hide labels */
label.visuallyhidden-with-placeholder{
    /*clip: auto !important;*/
    height:auto !important;
    overflow: visible !important;
    position:absolute !important;
    left:-999em;
}


body{
    font-family:sans-serif;
}
.offscreen {
    left: -999em;
    position: absolute;
}
label{
    display:inline-block;
    min-width:80px;
    -width:80px;
}


.implicit label{
    min-width:240px;
    -width:240px;
}
.implicit label input,
.implicit label textarea{
    float:right;
}
/* HTML5 Boilerplate class for testing */
.visuallyhidden { 
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}




