body {
	color: #FFFFFF;
	font-family: Arial, "MS Trebuchet", sans-serif;
	font-size: 13px;
	line-height: 25px;
	width: auto;
	margin:0px;
}
#wrapper{
	width: 100%;
	
	
}
*{
	padding: 0px;
	margin: 0px;
}
a:focus{
	outline: none;
}
.container {
	margin: 0 auto;
	width: 980px;

}
.clear{
	clear: both;
	
}
.clearfix:after {
	clear: both;
	
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
	
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
	
}
.outer_blocks{
}
#header{
	background: none repeat scroll 0 0 #111111;
	height: 45px !important;
	line-height: 45px;
	width: 100% !important;
	border-bottom: medium none;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.098);
	webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.098);
	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.098);
	position: fixed;
	z-index: 30000;
	
}

 #logo{
	float: left;
	border: none;

}
#header .logo .img{
	border: none;
	width:400px;
}
#header #logo h1{
	display: block;
	height: 45px;
	position: relative;
	

}
#header #logo h1 a{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	z-index: 30000;
	position: relative;
	
}
#header #menu{
	float: right;
	overflow: hidden;
	display: block;
	margin: 0;
	padding: 0;
}
#header #menu ul{
	list-style: none;
}
#header #menu ul li{
	border-right: 1px solid #333333;
	display: block;
	float: left;
	height: 45px;
	position: relative;
	line-height: 46px;
	margin-bottom: 0;
}
#header #menu ul li a{
	padding: 1px 20px;
	border-right: 1px solid #000000;
	display: block;
	font-weight: bold;
	height: 45px;
	padding: 0 20px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
}
#header #menu ul li#menu_home{
	border-bottom: 2px solid #1e1e1e;
}
#header #menu ul li#menu_portfolio{
	border-bottom: 2px solid #FFCC33; #FF9900; #D82545;
}
#header #menu ul li#menu_services{
	border-bottom: 2px solid #2BA6CB;
}
#header #menu ul li#menu_team{
	border-bottom: 2px solid #273C67;
}
#header #menu ul li#menu_contact{
	border-bottom: 2px solid #1e1e1e;
}
#header #menu ul li#menu_home.active{
	background: #1e1e1e;
}
#header #menu ul li#menu_portfolio.active{
	background:#FFCC33; #D82545;
}
#header #menu ul li#menu_services.active{
	background: #2BA6CB;
}
#header #menu ul li#menu_team.active{
	background: #273C67;
}
#header #menu ul li#menu_contact.active{
	background: #1e1e1e;
}

#home{
	background: #1E1E1E;
	padding-top: 150px;
	padding-bottom: 50px;
	height: auto;
}
#home #home_image{
	float: right;
	
}
#home #home_text{
	float: left;
	font-size: 26px;
	font-weight: lighter;
	line-height: 57px;
	margin-top: 26px;
	width: 60%;
}
.intro_head{
	padding-top: 20px;
	padding-bottom: 50px;
}
.intro_head img{
	float: left;
	margin-right: 10px;
}
.intro_head h4{
	font-size: 25px;
	line-height: 45px;
}
.intro_text{
	color: #553C21;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 36px;
	font-style: italic;
	letter-spacing: -0.02em;
	line-height: 40px;
	margin-bottom: 60px;
}
#portfolio{
	background:#FFCC33; #66FF66;  #99FF33;#FF9933; FF9900;#D82545;
	height: auto;
}
#portfolio .intro_text{
	color: #000000;eb899b;
	text-shadow: 0px 0px 1px #999;
}
.image_holder{
	background-color: #FFFFFF;
	border: 20px solid white;
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	color: #A8A8A8;
	float: left;
	font-size: 14px;
	min-height: 320px;
	margin: 0 40px 40px 0;
	position: relative;
	width:260px; 26.5%;
}
.image_holder:last-child{
	margin-right: 0px;
}
.image_holder img{
	height: 260px;
	width: 100%;
	border:none;
}
.image_holder h5{
	color: #505050;
	padding-top: 10px;
}
#services{
	background: #2BA6CB;
}
#services .intro_text{
	color: #a3dbec;
	text-shadow: 0px 0px 1px #999;
}
#services{
	background: #2BA6CB;
	height: auto;
}
#services #services_text{
	float: left;
	width: 40%;
	font-size: 15px;
}
#services #services_list{
	float: right;
	width: 50%;
}
#services #services_list ul{
	list-style: none outside none;
}
#services #services_list li{
	clear: both;
	margin-bottom: 10px;
}
#services #services_list li img{
	display: inline;
	float: left;
	margin-right: 30px;
	width: 90px;
}
#services #services_list li span{
	display: block;
	text-transform: uppercase;
	font-weight: bold;
}
#services #services_list li p{
	color: #A3DBEC;
	font-size: 15px;
	line-height: 25px;
	margin-bottom: 20px;
	margin-top: 5px;
}
#team{
	background: #273C67;
	height: auto;
}
#team .intro_text{
	color: #8C9FC5;
	text-shadow: 0px 0px 1px #999;
}
#team .image_holder h5{
	text-transform: uppercase;
}
#team .image_holder{
	width: 43.5%;
}
#team .image_holder img{
	height: 300px;
	width: 100%;
}
#team .image_holder .team_social{
	padding-top: 30px;
}
#team .image_holder .team_social img{
	width: 37px;
	height: 37px;
	margin-right: 2px;
	opacity: 0.6;
}
#team .image_holder .team_social img:hover{
	opacity: 1;
}
#contact{
	background: #1e1e1e;
	padding-bottom: 50px;
}
#contact .intro_text{
	color: #515151;
	text-shadow: 0px 0px 1px #999;
}

#contact_text{
	float: right;
	width: 50%;
}
#contact_form input[type="text"], textarea{
	background-color: #333333;
	border: medium none;
	border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	color: #B1B0B0;
	display: block;
	font-size: 13px;
	height: 38px;
	line-height: 22px;
	margin-bottom: 10px;
	outline: medium none;
	padding-left: 10px;
	position: relative;
	width: 98%;
	resize: none;
}
#contact_form input[type="text"]:focus, textarea:focus{
	background: #fff;
	color: #222;
}
#contact_form label {
	color: #B1B0B0;
	display: block;
	letter-spacing: -0.02em;
	margin-bottom: 5px;
	margin-left: 5px;
}
#contact_form .button{
	background-color: #AC1F39;
	border: medium none;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	float: right;
	margin-top: 10px;
	outline: medium none;
	padding: 0.4em 1em 0.45em;
	position: relative;
	text-decoration: none;
}
#contact .social{
	float:right;
	top:120px;
	left:-10px;
	position: relative;
	list-style:none;
	padding-bottom:0px;
	margin-bottom:0px;
	}
ol,ul {
	list-style:none;
}
#contact .phone{
	float:right;
	top:10px;
	left:-150px;
	position: relative;
	list-style:none;
	text-decoration:none;
			

}
	#contact .twitterfeed{
	float:right;
	top:180px;
	left:-20px;
	position: relative;
	list-style:none;
}
a{

	text-decoration:none;
	color:#f1f1f1;

}

a:hover{
	color:#39F;

}

#footer{
	color: #222222;
	font-size: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
}