@charset "utf-8";

	
body {
    background-color:#fff;
    background:transparent; /*url(../images/paperbg.jpg) repeat bottom center;*/
	position:relative;
		
	
	
}



#formWrap {
	background:transparent url(../images/formbg.png) repeat-y  bottom center;
    width:300px;;
	float:none;
	margin-top:0px;
	margin-left:0px;
    margin:0px auto 0px auto;
	border: 1px solid #F1F1F1;
	-moz-border-radius:20px;
	-moz-box-shadow:2px 2px 5px #999;
	-webkit-border-radius:20px;
	-webkit-box-shadow:2px 2px 5px #999;
	padding:16px 10px 40px;

}


#formWrap #form {
	border-top:1px solid #eee;
	width:300px;
	
}


#form .row {
	border-bottom: 1px dotted #eee;
	display:block;
	line-height:38px;
	overflow:auto;
	padding:0px 0px;
	width:100%;
	
}


#form .row .lable {
	font-size:16px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	width:200px;
	text-align: left;
	float: left;
	padding-left:17px;
	
	
	
	color:#000000;
	
	
}


#form .row .input {
	float: right;;
	margin-right:10px;
/*	width:auto; */
	width:270px;

}

#form .row .input2 {
	float:left;
	margin-right:10px;
/*	width:auto; */
	width:270px;

}


.detail{
	width:260px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	padding:7px 8px;
	margin:0;
	display:block;
	border-radius: 5px 5px 5px 5px;
	background:#e9e9e9;
	border:1px solid #ccc;

}

#form input[type="text"]:focus,
#form textarea:focus{ 
	-moz-box-shadow:0px 0px 8px #e73c00;
    -webkit-box-shadow:0px 0px 8px #e73c00;
    box-shadow:0px 0px 8px #e73c00;
	background-color:#fff;
	border-color:1px solid #999;
	outline:none;
}

.mess{
	width:260px;
	max-width:260px;
	height:280px;
	overflow:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	padding:7px 8px;
	line-height:1em;
	margin:0p;
	display:block;
	border-radius: 5px 5px 5px 5px;
	background:#e9e9e9;
	border:1px solid #ccc;

}



#form .row .context {
	color:#000000;
	font-size:11px;
	font-style:italic;
	line-height:14px;
	font-family:Arial, Helvetica, sans-serif;
	width:260px;
	float: right;
	
}


#form #submit {
	/*font-family:Arial, Helvetica, sans-serif;
	margin-top:25px;
	margin-left:595px;
	color:#000;
	
	text-shadow:1px 1px 1px #999;
	padding:10px;*/
	
	background-color: #00B2EE;
	border: medium none;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size:14px;
	margin-top: 25px;
	margin-left:200px;
	outline: medium none;
	/*padding: 0.4em 1em 0.45em;*/
	padding:10px;
	position: relative;
	text-decoration: none;
	
}

span.error {
	color:#000000;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	background-image:url(../images/x.png);
	background-repeat:no-repeat;
	background-position:left 6px;
	padding-left:25px;

}

#formWrap h2 {
	font-family:"Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	/*text-shadow:1px 1px 1px #ccc;*/
	color:#B1B0B0;e73c00;
	margin-left:25px;
	
}