@charset "utf-8";
/* CSS Document */


/*
COLOR SCHEME 

	#F2385A - light pink
	#F5A503 - organe
	#E9F1DF - nice withe
	#4AD9D9 - light blue
	#36B1BF - light sky

*/ 

body{
	
	font-family:Arial, Helvetica, sans-serif;



}


.wrap_overall{
	
	width:960px;
	margin:0px auto;
	
}


.header{
	padding:0px 20px;
}


.nav_main{
	
	margin:0px 0px 0px 20px;
	padding:0px 0px 0px 0px;
	

}

.nav_main ul {
	
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border-top:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
	


}

.nav_main ul li {
	
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	
	list-style:none;
	display:inline-block;
	


}


.nav_main ul li a {
	
	text-decoration:none;
	display:block;
	padding:5px 15px;


}

.nav_main ul li a:hover {
	
	background-color:#ededed;


}

/* Sidebar Navigation */




.nav_side {
	
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	border-top:1px solid #dfdfdf;
	
	


}

.nav_side li {
	
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	
	list-style:none;
	display:block;
	border-bottom:1px solid #dfdfdf;
	


}


.nav_side li a {
	
	text-decoration:none;
	display:block;
	padding:5px 15px;


}

.nav_side li a:hover {
	
	background-color:#ededed;


}





.content{
	
	height:500px;
	padding:0px 20px 20px 20px;
	text-align:left;
	font-size:12px;
	


}


	
	
	


.footer{
	text-align:center;
	font-size:11px;
	border-top:1px solid #DFDFDF;
}

.col {
	
	float:left;
	
}

.sidebar {
	
	width:200px;
	border-right:1px dotted #FDFDFD;
}

.editor {
	
	width:500px;
	min-height:500px;
	margin:0px 0px 0px 40px; 

}

.gen_input {
	
	border-radius:5px;
	padding: 3px;
	border:1px solid #cccccc;

}


.gen_submit {
	
	border-radius:5px;
	padding: 3px;
	border:1px solid #cccccc;
	background-color: #efefef;
	
	
}

.gen_submit:hover {
	
	background-color: #dfdfdf;
	cursor:pointer;
}

.gen_form {
	
	
	

}


.gen_form tr {
	
	

}




.gen_form tr td {
	
	padding: 3px 3px 3px 3px;
	
	

}

.gen_form tr td.gen_lable {
	
	text-align:left;
	font-weight:bold;
	
	

}