@charset "utf-8";
/* CSS Document */

body{
	margin-top:40px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
}

#menuContainer{
	float:right;
	text-align:right;
	margin:auto;

}

#menuContainer a{
	border:#666 1 px solid;
	border-bottom:none;
	padding-top:8px;
	padding-bottom:1px;
	padding-left:8px;
	padding-right:8px;
	text-decoration:none;
}

#menuContainer a:hover{
	background-color:#bae4fe;
	color:#03F;
}

.myButtons{
	background-color:#036;
	color:#fff;
}

.myActiveButton{
	background-color:#bae4fe;
	color:#000;
}

#bodyContainer{
	height:500px;
	
	border:#666 1px solid;
	background-color:#bae4fe;
	margin:auto;
}


#bodyContentContainer{
	padding:16px;

}