@charset "utf-8";

	
body {
    background-color:#fff;
    background:transparent; /*url(../images/paperbg.jpg) repeat bottom center;*/
	
	height:730px;
	
}



#formWrap {
	background:transparent url(../images/formbg.png) repeat-y  bottom center;
    width:720px;
	margin-top:30px;
	margin-left:30px;
    margin:20px auto 0px auto;
	border: 1px solid #F1F1F1;
	-moz-border-radius:20px;
	-moz-box-shadow:2px 2px 5px #999;
	-webkit-border-radius:20px;
	-webkit-box-shadow:2px 2px 5px #999;
	padding:16px 10px 40px;

}


#formWrap #form {
	border-top:1px solid #eee;
	width:720px;
	
}


#form .row {
	border-bottom: 1px dotted #eee;
	display:block;
	line-height:38px;
	overflow:auto;
	padding:10px 0px;
	width:100%;
	
}


#form .row .lable {
	font-size:16px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	width:180px;
	text-align:right;
	float:left;
	padding-right:10px;
	margin-right:10px;
	
	
}


#form .row .input {
	float:left;
	margin-right:10px;
/*	width:auto; */
	width:285px;

}

#form .row .input2 {
	float:left;
	margin-right:10px;
/*	width:auto; */
	width:466px;

}


.detail{
	width:260px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	padding:7px 8px;
	margin:0;
	display:block;
	border-radius: 5px 5px 5px 5px;
	background:#e9e9e9;
	border:1px solid #ccc;

}

#form input[type="text"]:focus,
#form textarea:focus{ 
	-moz-box-shadow:0px 0px 8px #e73c00;
    -webkit-box-shadow:0px 0px 8px #e73c00;
    box-shadow:0px 0px 8px #e73c00;
	background-color:#fff;
	border-color:1px solid #999;
	outline:none;
}

.mess{
	width:450px;
	max-width:450px;
	height:280px;
	overflow:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	padding:7px 8px;
	line-height:1em;
	margin:0p;
	display:block;
	border-radius: 5px 5px 5px 5px;
	background:#e9e9e9;
	border:1px solid #ccc;

}



#form .row .context {
	color:#000000;
	font-size:11px;
	font-style:italic;
	line-height:14px;
	font-family:Arial, Helvetica, sans-serif;
	width:200px;
	float:left;
	
}


#form #submit {
	font-family:Arial, Helvetica, sans-serif;
	margin-top:25px;
	margin-left:595px;
	color:#000;
	font-size:16px;
	text-shadow:1px 1px 1px #999;
	padding:10px;
	
	
	
}

span.error {
	color:#000;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	background-image:url(../images/x.png);
	background-repeat:no-repeat;
	background-position:left 6px;
	padding-left:25px;

}

#formWrap h2 {
	font-family:"Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
	text-shadow:1px 1px 1px #ccc;
	color:#e73c00;
	margin-left:25px;
	
}