/*
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
body{
	font-family:Arial, Helvetica, sans-serif;
	background:url(../images/body_bg3.jpg);
}
.wrap{
	width:100%;
	margin:0 auto;
	background:#FFF;
}
.header{
	background:#FFF;
	padding:5px;
}
.logo{
	float:left;
	width:40%;
}
/**** Header Top Right ****/
.search_box{
	border: 1px solid #DBDBDB;
	position:relative;
}
.search_box form input[type="text"]{
	width:69%;
	padding:6px;
	outline:none;
	border:none;
	background:none;
	font-size:0.7em;
	color:#a5a5a5;
	font-family:Arial;
	outline:none;
	margin:0;
	-webkit-appearance:none;
}
.search_box form input[type="submit"]{
	width:60px;
	border:none;
	cursor:pointer;
	color:#FFF;
	font-size:0.7em;
	padding:10px 10px;
	line-height:8px;
	margin:0;
	background:#70389C;
	position: absolute;
	right:0px;
	top:-1px;
}
.search_box form input[type="submit"]:hover{
	background:#444;
}
.cart-details{
	margin-top:5px;
	float:right;
	width:97px;
}
.shopping_cart{
	float:left;
	width:30px;
	height:25px;
}
.languages{
    /* Size & position */
 	float: left;
	width:30px;
	height:16px;
	position: relative;
	margin-left:5px;
	padding:6px 0 0 5px;
   background: url(../images/gradient_light-1.png) 0 0 repeat-x;
	font:0.7em "Arial";
	color: #4F4F4F;
    border: 1px solid #CECECE;
    cursor: pointer;
    outline: none;
}
.languages .opencart{
	width: 7px;
	height: 5px;
	display: block;
	background: url(../images/header_arrow.png) 0 0 no-repeat;
	position: absolute;
	right:4px;
	top: 11px;
}
.login{
	float:left;
	margin-left:5px;
	width:20px;
	height:25px;
	display: block;
	 background: url(../images/gradient_light-1.png) 0 0 repeat-x;
}
.login span a img{
	padding-top:4px;
}
/** Login **/
.register_account h3, .login_panel h3 {
	font-size:1.1em;
	color: #6C6C6C;
	font-family:Arial, Helvetica, sans-serif;
	padding-bottom: .4em;
}
.register_account{
	padding:10px;
    background:#FFF;
    border:1px solid #C0BEBE;
}
.register_account table{
	width:100%;
}
.register_account td{
	display: block;
}
.login_panel input[type="text"],.login_panel input[type="password"]{
	font-size:12px;
	color:#B3B1B1;
	padding:6px;
	outline:none;
	margin:5px 0;
	width:93%;
	-webkit-appearance:none;
	border:1px solid #C4CED3;
}
.register_account form input[type="text"]{
		-webkit-appearance:none;
}
.register_account form input[type="text"],.register_account form select{
	font-size:12px;
	color:#B3B1B1;
	padding:6px;
	outline:none;
	margin:5px 0;
	width:93%;
	border:1px solid #C4CED3;
}
.register_account form select{
	width:99%;
	color:#666;
	font-size:12px;
}
.register_account form input[type="text"].code{
	width:12%;
}
.register_account form input[type="text"].number{
	width:65.33%;
}
.register_account p{
	font-size:12px;
	color:#666;
}
.domain_search{
	background:url(../images/header_line_bg.jpg);
	padding:20px 0;
    border-top: 1px solid rgba(119, 192, 9, 0.25);
}
.login_panel{
	padding:10px;
	margin-bottom:10px;
	background:#FFF;
	border:1px solid #C0BEBE;
}
.login_panel p{
	font-size:0.7em;
	color:#888;
}
p.terms{
	font-size:0.7em;
	padding-top:10px;
}
p.terms a,p.note a{
	text-decoration:underline;
	color:#7D2DC7;
}
p.terms a:hover,p.note a:hover{
	text-decoration:none;
}
p.note{
	font-size:0.7em;
	color:#666;
	padding:5px;
	line-height:1.6em;
}
.buttons button,.search button.grey{
	    padding:8px 10px;
	    font-size:15px;
	    font-weight:bold;
	    color: #fff; 
        cursor:pointer;
        width:100%;   
        margin-top:5px;
}
 button.grey,.search button.grey{
	 	border: 1px solid #303030;
        background: #3f4040;
}
 button.grey:hover,.search button.grey:hover{
        background        : #525252;  
}

/**** Header Botttom Left ****/
.header_bottom_left_images{
	position:relative;
	margin-top:10px;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group {
    zoom:1;
}
.listview_1_of_2{
	display: block;
	margin:2% 0 0% 0%;
	padding:4%;
	width:92%;
	border:1px solid #CCC;
}
.listimg{
	text-align:center;
}
.text{
	display: block;
	margin: 2% 0 0% 0%;
	text-align:center;
}
.listimg_2_of_1 {
	width:100%;
}
.list_2_of_1 {
	width:100%;
}
.images_1_of_2  img {
	max-width:100%;
}
.list_2_of_1  h2 {
	color:#CC3636;
	font-size:1em;
	font-weight : normal;
	text-transform:uppercase;
}
.list_2_of_1  p{
	font-size:0.8em;	
	color: #333;
	line-height: 1.4em;
	font-family :Arial, Helvetica, sans-serif;
	padding:0; 	
}
.list_2_of_1 .button{
	line-height:1.9em;
	margin-top:0.2em;
}
.list_2_of_1 .button a{
		padding:7px 10px;
		font-size:0.8em;
		font-family: Arial, "Helvetica Neue", "Helvetica", Tahoma, Verdana, sans-serif;
		border: 1px solid rgba(0,0,0,0.1);
        background:#602D8D url(../images/large-button-overlay.png);       
        color: #fff;
}
.list_2_of_1 .button a:hover{
	    border: 1px solid #4D00A0;
        background:#70389C;
        text-decoration:none; 
}
.content{
	padding:5px;
	background:#FFF;
}
.content h2{ 
	font-size:1em;
	color:#6C6C6C;
	font-weight:bold;
}
.content_top{
	padding:10px;
	border:1px solid #EBE8E8;
}
.content_bottom{
	padding:10px;
	border:1px solid #EBE8E8;
	margin-top:2.6%;
}
.heading h3{
	font-size:1em;
	color:#602D8D;
	text-transform:uppercase;
}
.sort{
	padding-top:8px;
	clear:both;
}
.sort p{
	display:inline;
	font-size:0.7em;
	color: #333;
}
.sort select{
	display:inline;
	font-size:0.8em;
	color: #333;
	margin-left:2px;
}
.page-no{
	padding-top:5px;
}
.page-no p{
	display:inline;
	font-size:0.7em;
	padding:0.3em 0;
	color: #333;
}
.page-no ul{
	display:inline;
}
.page-no li{
	display:inline;
}
.page-no li a{
	font-size:0.7em;
	color: #333;
	line-height: 1.6em;
	font-family :Arial, Helvetica, sans-serif;
	padding:5px 2px;
}
.page-no li a:hover,.page-no li.active{
	color:#602D8D;
	text-decoration:underline;
}
/**** Grid 1_0f_4 ****/
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group {
    zoom:1;
}
.grid_1_of_4{
	display: block;
	float:left;
	margin: 2% 0 1% 0%;
}
.grid_1_of_4:first-child { 
	margin-left: 0; 
} 
.images_1_of_4 {
	width:92%;
	padding:4%;
	text-align:center;
	position:relative;
	border:1px solid #CCC; 
}
.images_1_of_4  img{
	max-width:100%;
}
.discount{
	background:url(../images/discount-img.png) no-repeat 0 0;
	position: absolute;
	top: 30px;
	width: 42px;
	height: 42px;
}
.discount span.percentage{
	color: #FFF;
	font-size:1em;
	font-weight: bold;
	line-height: 40px;
}
.images_1_of_4  h2 {
	color: #CC3636;
	font-size:0.9em;
	font-weight : normal;
}
.images_1_of_4  p {
	font-size:0.7em;
	color: #333;	
}
.images_1_of_4  p span.strike{
	font-size:18px;
	color:#444;
	text-decoration:line-through;
}
.images_1_of_4  p span.price{
	font-size:18px;
	color: #CC3636;
	margin-left:15px;
}
.images_1_of_4 .button{
	line-height:1.9em;
	width:100%;
}
.images_1_of_4 .button a{
		padding:7px 20px;
		font-size:0.8em;
}
.images_1_of_4 .button a{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 15px;
	text-transform: none;
	color: #737370;
	text-decoration: none!important;
	background: url(../images/button-bg.png) repeat-x 0 0 #E8E8E8;
	display: inline-block;
	border-left: 1px solid #D4D4D4!important;
	border-right: 1px solid #ADADAD!important;
	border-top: 1px solid #E0E0E0!important;
	border-bottom: 1px solid #9C9C9C!important;
	cursor: pointer!important;
	margin: 0 2px;
}
.images_1_of_4 .button a:hover{
     color:#70389C;
     background: #E8E8E8;
}
.images_1_of_4 .button a.cart-button{
	padding:7px 20px;
	margin-bottom:5px; 
}
/*** Footer ***/
.wrapper{	
	width:100%;
	margin:0 auto;
}
.footer{
	position:relative;
	background: #414045; 
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.col_1_of_4{
	display: block;
	float:left;
	margin: 0% 0 1% 0%;
}
.col_1_of_4:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
.col_1_of_4:last-child {
	border:none;
}
.span_1_of_4 {
	width:92%;
	padding:1% 0 0 4%; 
}
.span_1_of_4  h4 {
	color:#ccc;
	margin-bottom:.2em;
	font-size:0.9em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight : normal;
	margin-top: 0px;
	letter-spacing: -1px;
	text-transform:uppercase;
	border-bottom:1px solid #474747;
	padding-bottom:0.3em;
}
.span_1_of_4  li a{
	font-size:0.7em;
	padding:0.2em 0;
	color:#979797;
	font-family :Arial, Helvetica, sans-serif;
	display:block;	 	 
}
.span_1_of_4  li a:hover,.span_1_of_4  li span:hover{
	color:#BBB7B7;
}
.span_1_of_4  li span{
	font-size:0.8em;
	padding:0.2em 0;
	color:#979797;
	display:block;
	cursor:pointer;
}
/*** Social Icons ***/
.social-icons{
	padding-top:3%;
}
.social-icons li {
	width:30px;
	height:30px;
	padding: 0px 0 0 6px;
	margin:2px 0;
    display:inline-block;
	cursor:pointer;
}
.social-icons li.facebook {
	background:url(../images/icon-2.png) no-repeat 0px  -29px;
}
.social-icons li.facebook:hover {
	background:url(../images/icon-2.png) no-repeat 0px  0px;
}
.social-icons li.twitter {
	background:url(../images/icon-3.png) no-repeat 0px  -29px;
}
.social-icons li.twitter:hover {
	background:url(../images/icon-3.png) no-repeat 0px  0px;
}
.social-icons li.googleplus {
	background:url(../images/icon-4.png) no-repeat 0px  -29px;
}
.social-icons li.googleplus:hover {
	background:url(../images/icon-4.png) no-repeat 0px  0px;
}
.social-icons li.contact {
	background:url(../images/icon-1.png) no-repeat 0px  -29px;
}
.social-icons li.contact:hover {
	background:url(../images/icon-1.png) no-repeat 0px  0px;
}
 .copy_right{
	text-align:center;
	padding:15px 0;
 }
 .copy_right p{
	font-size:12px;
	color:#747474;
 }
 .copy_right p a{
    color:#747474;
	font-size:12px;
	text-decoration:underline;
 }
 .copy_right p a:hover{
	color:#BBB7B7;
	text-decoration:none;
 }
 /*** Cart ***/
.cartheading {
	padding: 0 8px 10px;
	border-bottom: 1px solid #EDEDED;
}
.cartheading h3{
	font-size:0.8em;
	color: #6C6C6C;
	font-weight: bold;
	display: inline-block;
	float: left;
}
.cartitems {
	float: right;
	display: inline-block;
	font-style: normal !important;
	font-weight: bold;
	font-size:0.8em;
}
.cartempty {
	padding: 10px;
}
.cartemptyimg {
	text-align:center;
}
.cartemptymsg {
	text-align: center;
}
.cartempty_title p{
	font-size:1.2em;
	font-weight: bold;
	color: #666;
}
.cartempty  p span {
	font-size:0.8em;
	font-weight: normal;
}
/*  Preview  ============================================================================= */
.back-links{
	padding-bottom:5px;
}
.back-links p{
	font-size:0.8125em;
	color: #333;
}
.back-links p a{
	font-size:0.9em;
	padding:0  1.3%;
	color: #333;
}
.back-links p a:hover,.back-links p a:active{
	color:#70389C;
}
.image {
	clear: both;
	padding: 0px;
	margin: 0px;
	background:#F0F0F0;
	padding:1.5%;
}
.group {
    zoom:1;
}
.cont-desc{
	display: block;
	clear:both;
}
.rightsidebar{
	display: block;
	margin: 0% 0 0% 0%;
}
.desc{
	display: block;
	float:left;
	margin: 2% 0 2% 0%;
}
.images_3_of_2 {
	width:100%;
	text-align:center;
	margin-top:5px;
}
.span_3_of_2{
	width:100%;
}
.images_3_of_2  img {
	max-width:100%;
}
.span_3_of_2  h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:0.8em;
	color: #CC3636;
	font-weight : normal;
	margin-top: 0px;
	text-transform:uppercase;
}
.span_3_of_2  p{
	font-size:0.8em;
	color:#969696;
	line-height: 1.6em;
	font-family :Arial, Helvetica, sans-serif; 	
}
.price p{
	font-size:0.8125em;
	padding:0.5% 1%;
	color: #666;
	vertical-align:top;
}
.price p span{
	font-size:1.2em;
	font-family:Arial, Helvetica, sans-serif;
	color: #CC3636;
}
.available{
	padding:5px 0;
	border-top:1px solid #E0E0E0;
}
.available p{
	font-size:0.8em;
	color:#333;
	font-weight:bold;
}
.available li{
	display:block;
	font-size:0.8em;
	margin:5px 0;
	color:#353535;
}
.available li select{
	display: inline;
	font-size: 1em;
	color: #333;
	margin-left:3px;
}
.share p{
	padding-top:0px;
	font-size:0.8em;
	color:#333;
	font-weight:bold;
}
.share li{
	display:inline-block;
	margin:5px 6px;
}
.add-cart{
	padding-top:0px;
}
.rating{
	float:left;
}
.rating p{
	padding-top:0px;
	font-size:0.9em;
	color:#333;
	font-weight:bold;
}
.rating p span{
	font-size:0.8em;
	color: #666;
	font-weight:normal;
}
.rating p img{
	vertical-align:middle;
	padding-left: 5px;
}
.product-desc,.product-tags{
	clear:both;
	padding:5px 0 10px 0;
}
.product-desc h2,.product-tags h2{
	padding:5px 10px;
	background:#602D8D;
	border: 1px solid #EBE8E8;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.85em;
	color:#FFF;
	text-transform: uppercase;
}
.product-desc p{
	font-size: 0.8em;
	color: #969696;
	line-height: 1.6em;
	font-family:Arial, Helvetica, sans-serif;
}
.product-tags h4{
	padding:10px 0;
	font-size:0.9em;
	color:#333;
	font-weight:bold;
}
.input-box{
	background:url(../images/tag.png) no-repeat 0 8px;
	padding-left:30px;
}
.input-box input[type="text"]{
	 		padding:8px;
			display:block;
			width:90%;
			background:#fcfcfc;
			border:1px solid #DDD;
			outline:none;
			color:#464646;
			font-size:0.8125em;
			font-family:Arial, Helvetica, sans-serif;
			-webkit-appearance:none;
}
.product-tags .button{
	margin-top:5px;
	line-height:3em;
}
.span_3_of_2 .button{
	float:right;
	margin-top:1%;
	line-height:2em;
}
.span_3_of_2 .button a,.product-tags .button a{
		padding:8px 15px;
		font-size:0.8em;
		font-weight:bold;
		font-family:Arial, Helvetica, sans-serif;
		border: 1px solid rgba(0,0,0,0.1);
        background:#3f4040;       
        color:#fff;
}
.span_3_of_2 .button a:hover,.product-tags .button a:hover{
	    border: 1px solid #303030;
        background: #525252; 
        text-decoration:none;
}
.span_3_of_1 li a{
	font-size:0.8125em;
	padding:0.42em 9%;
	color: #666;
	display: block;
	line-height: 1.6em;
	font-family : Arial, Helvetica, sans-serif;
	border-bottom:1px dashed #CCC;
	background: url(../images/drop_arrow.png) no-repeat 5px 11px; 	
}
.span_3_of_1 li a:hover{
	background: url(../images/drop_arrow-hover.png) no-repeat 5px 11px;
	color:#602D8D; 
}
.span_3_of_2 .button{
	float:right;
	margin-top:4%;
	line-height:2em;
}
.span_3_of_2 .button a{
		padding:8px 15px;
		font-size:0.8em;
		font-weight:bold;
		font-family:Arial, Helvetica, sans-serif;
		border: 1px solid rgba(0,0,0,0.1);
        background: #3f4040;       
        color: #fff;
}
.span_3_of_2 .button a:hover{
	    border: 1px solid #303030;
        background: #525252; 
        text-decoration:none;
}
.subscribe{
	padding-top:20px;
}
.subscribe p{
	font-size:12px;
	color:#444;
	padding:5px 0;
}
.signup{
	 margin-top:5px;
	 background:#E7E7E7;
	 position:relative
}
.signup input[type="text"]{
    border:none;
    background:none;
    padding:6px 5px;
    outline:none;
    width:66.5%;
    font-size:0.7em;
    color:#7c7c7c;
    -webkit-apperance:none;
}
.signup input[type="submit"]{
	border: 1px solid  #5C5655;
    padding:6px 2px;
    width:60px;
   	font-size:0.7em;
   	margin:0;
   	font-weight:bold;
   	cursor:pointer;
 	background: #565656;
    color: #fff;
    -webkit-apperance:none;
    position:absolute;
    right:0;
    top:1px;
}
.signup input[type="submit"]:hover{
   		background: #5e5e5e;
  }
 .community-poll{
    	padding-top:5%;
 }
 .community-poll p{
 	color: #C94848;
	font-size:0.8em;
	font-weight: normal;
	padding:2% 0;
  }
 .poll li{
 	padding: 3px 0px 3px 0;
 }
 .poll input.radio {
	float: left;
	margin: 2px 0 0 0;
}
.poll .label {
	display: block;
	margin-left:20px;
}
.poll label{
	font-size:0.8em;
	padding:0.3em 1%;
	color: #666;
	font-family : Arial, Helvetica, sans-serif;
}
/*  About  ============================================================================= */
.col_1_of_3{
	display: block;
	float:left;
	margin:0% 0 0% 0%;
}
.col_1_of_3:first-child { margin-left: 0; }
.span_1_of_3 {
	width:100%;
	padding-bottom:10px;
}
.span_1_of_3 img{
	border:1px solid #DDD;
	max-width:100%;	
}
.span_1_of_3  h3{
	color: #6C6C6C;
	margin-bottom:0.3em;
	font-size:1em;
	font-weight:bold;
	line-height: 1.2;
	font-family:Arial, Helvetica, sans-serif;
	margin-top: 0px;
	text-transform:uppercase;
}
.span_1_of_3  p  {
	font-size:0.8em;
	color:#747474;
	line-height: 1.6em;
	font-family :Arial, Helvetica, sans-serif; 	
}
.year{
	float:left;
	width:22%;
}
.year p{
	color:#70389C;
	font-size:0.95em;
}
.span_1_of_3  p.history{
	float:left;
	width:78%;
	font-size:0.8em;
	color:#747474;
	line-height: 1.6em;
} 
.span_1_of_3 .list li a{
	font-size:0.8em;
	padding:0.35em 1.2em;
	color:#602D8D;
	background: url(../images/drop_arrow-hover.png) no-repeat 0px 10px;
	display:block;
}
.span_1_of_3 .list li a:hover{	
	color:#747474;
}
/*** team ***/
.grid_1_of_5{
	display: block;
	float:left;
	margin:0% 0 0% 0%;
	text-align:center;
}
.grid_1_of_5:first-child { 
	margin-left: 0; 
} 
.images_1_of_5 {
	width:92%;
	padding:4% 0 0 0; 
}
.images_1_of_5  img{
	max-width:100%;
	display:block;
}
.images_1_of_5  h3{
	color:#C94848;
	margin-top:0.2em;
	font-size:1em;
	font-family:Arial, Helvetica, sans-serif;
	font-weight : normal;
}
.images_1_of_5  p {
	font-size:0.8em;
	padding:0.2em 0;
	color: #333;
	line-height: 1.6em;	
}
/*** End Team ***/
/* FAQ  ============================================================================= */
.questions{
	margin:10px 0 5px 0;
}
.questions h4{
	color:#70389C;
	font-size:0.8em;
	margin-bottom:5px;
	font-weight: normal;
}
.questions p{
	color: #444;
	font-size:0.7em;
	line-height: 1.6em;
	margin-bottom: 5px;
}

/*  Contact Form  ============================================================================= */
.support_desc h3{
	font-size:1em;
	font-weight:bold;
	color: #6C6C6C;
	padding:5px 0;
	font-family:Arial, Helvetica, sans-serif;
}
.support_desc p span{
	font-size:1em;
	color:#666;
}
.support_desc p{
	font-size:12px;
	color:#777;
	line-height:1.6em;
}
.support_desc p.img-desc{
	float:left;
	width:66%;
}
.support img{
	float:left;
	margin-left:3%;
	width:30%;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}
.group {
    zoom:1;
}
.col{
	display: block;
	float:left;
	margin:1% 0 1% 0%;
}
.col:first-child{
	margin-left:0;
}	
.span_2_of_3 {
	width:100%;
}
.span_1_of_3 {
	width:100%;
}
.span_2_of_3  h2,
.span_1_of_3  h2 {
	line-height: 1.2;
	font-family:Arial, Helvetica, sans-serif;
	font-weight : normal;
	margin-top: 0px;
	font-size:1em;
	font-weight:bold;
}
.contact-form{
	position:relative;
	padding-bottom:30px;
}
.contact-form div{
	padding:2px 0;
}
.contact-form span{
	display:block;
	font-size:0.8em;
	color:#757575;
	padding-bottom:5px;
	font-family :verdana, arial, helvetica, helve, sans-serif;
}
.contact-form input[type="text"],.contact-form textarea{
		    padding:8px;
			display:block;
			width:90%;
			background:#fcfcfc;
			border:1px solid #DDD;
			outline:none;
			color:#464646;
			font-size:0.8125em;
			font-family:Arial, Helvetica, sans-serif;
			-webkit-appearance:none;
}
.contact-form textarea{
		resize:none;
		height:120px;		
}
.contact-form input[type="submit"]{
	padding:7px 15px;
	cursor:pointer;
	background:#FFF url(../images/large-button-overlay.png);
    font-family:Arial, Helvetica, sans-serif;
    position:absolute;
    right:0;
    border: 1px solid #ccc;
	color: #555 !important;
	font-size:1em;
}
.contact-form input[type="submit"]:hover{
	background-color: #EEE;
	border-color: #B8B5B5;
	color: #444 !important;
}
.contact-form input[type="submit"]:active{
	background-color:#FFF;  
}
.company_address p{
	font-size:0.8em;
	color:#757575;
	padding:0.2em 0;
	font-family :Arial, Helvetica, sans-serif;
}
.company_address p span{
	text-decoration:underline;
	color:#444;
	cursor:pointer;
}
.map{
	border:1px solid #C7C7C7;
	margin-bottom:15px;
}

